/* income cal. bg style */
.bg-color{
    background-color: gainsboro;
}
/* body bac. color */
.input-body{
    background-color: #DCDCDC;
    width: 90%;
    margin: 0 auto;
}
.input-saving{
    border-radius: 5px;
    width: 6rem;
}